    <header>
        <h2 class="logo"> Logo</h2>

        <nav class="nave">

            <a href="/">Home</a>

            <a href="/Planos">Planos</a>

            <a href="#">Sobre</a>

           

            <button type="submit" class="btnLog-popUp" onclick="fazerlog()">Fazer login</button>

        </nav>

    </header>


    <div class="container">
        <div class="uraper">





        </div>
    </div>