<!-- 
<body>
    

    <header>
        <h2 class="logo"> Logo</h2>

        <nav class="nave">

            <a href="#">Home</a>

            <a href="#">Contato</a>

            <a href="#">Sobre</a>

            <button type="submit" class="btnLog-popUp">Fazer login</button>

        </nav>

    </header>

    <div class="todoCorpo">
         <div class="dentroDoW1">
    
        <div class="w1">
            <span class="butaoFechar"><ion-icon name="close"></ion-icon></span>
    
    
            <div class="form-Todo login">
    
                <h2>Entrar</h2>
    
                    <form action="#">
    
                        <div class="inputs">
                            <span class="icones"><ion-icon name="mail">
                            </ion-icon></span>
                            <input type="email" name="email" required>
                            <label>E-mail</label>
                        </div>
    
                        <div class="inputs">
                            <span class="icones"><ion-icon name="lock-closed"> 
                            </ion-icon></span>
                            <input type="password" name="senha" required>
                            <label>Senha</label>
                        </div>
    
                        <div class="lembrarMim">
                            <label><input type="checkbox">
                                Lembrar de mim
                            </label>
                            <a href="#">Esqueceu a senha?</a>
                        </div>
    
                        <button type="submit" class="butao">Entrar</button>
    
                        <div class="Login_cadastrar">
                            <p>Novo por aqui?<a href="#" class="criarConta">
                            Cadastre-se</a></p>
                        </div>
    
                    </form>
            </div>
    
    
            <div class="form-Todo criar">
    
                <h2>Criando conta</h2>
    
                    <form action="#">
    
                        <div class="inputs">
                            <span class="icones"><ion-icon name="person">
                            </ion-icon></span>
                            <input type="text" name="nome" required>
                            <label>Nome de Usuário</label>
                        </div>
    
                        <div class="inputs">
                            <span class="icones"><ion-icon name="mail">
                            </ion-icon></span>
                            <input type="email" name="email" required>
                            <label>E-mail</label>
                        </div>
    
                        <div class="inputs">
                            <span class="icones"><ion-icon name="lock-closed"> 
                            </ion-icon></span>
                            <input type="password" name="senha" required>
                            <label>Senha</label>
                        </div>
    
                        <div class="lembrarMim">
                            <label><input type="checkbox" required>
                                Eu concordo com os termos e condições de uso
                            </label>
                        </div>
    
                        <button type="submit" class="butao">Criar</button>
    
                        <div class="Login_cadastrar">
                            <p>Já tem uma conta?<a href="#" class="voltarLogin">
                            Entrar</a></p>
                        </div>
    
                    </form>
            </div>
    
        </div>
    </div>
    
    <div class="listaDosPlanos">
    <div class="textoH">
        <h3>O que você tem planejado para hoje?</h3></div>

        <div class="Tarefas">
            <div class="AdicionarPlan">
                <input type="text" placeholder="Adicionar plano" class="addPlanT">
                <button class="addPlan" type="submit"><ion-icon name="add-circle"></ion-icon></button>
            </div>
        </div>

            <div class="listaCompleta">
                <ul class="ListaPlanejamento">
                </ul>
            </div>
        </div>

</div>


    <script src="public/Js/P1.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html> -->